body {
	background-image: url("/img/background.jpg");
	height: 100%;
}

html {
	height: 100%;
	overflow: hidden;
}

.hidden {
	display: none;
}

#currentCover {
	margin-top: -25%;
	float: left;
	height: 120px;
}

.playerButtons {
	clear: both;
	margin-left: -25%;
	position: relative;
	top: -16px;

}

#currentPlaylist {
	height: 100%;
	width: 100000px;
}

#songInfo {
	margin-left: -2%;
}

#currentPlaylistWrapper {
	overflow: hidden;
	height: 100%
}

.coverThumbnail {
	height: 85% !important;
	width: 65px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.currentSongThumbnail {
	box-shadow: 0px 0px 3px 3px #08C;
}

