body {
	background-image: url("/img/background.jpg");
	height: 100%;
}

html {
	height: 100%;
}

.hidden {
	display: none;
}

#currentCover {
	margin-top: -25%;
	float: left;
}

.playerButtons {
	clear: both;
	margin-left: -25%;
	position: relative;
	top: -16px;

}

