body {
	background-image: url("/img/background.jpg");
	height: 100%;
}

html {
	height: 100%;
	overflow: hidden;
}

.hidden {
	display: none;
	z-index: -10;
}

.contentWindow {
	margin: 10px;
	height: 100%;
}

.contentTableWrapper {
	height: 80%;
	overflow-y: scroll; 
	clear: both;
}

#currentCover {
	height: 100%;
	box-shadow: 0px 0px 50px 5px black;
}

#currentCoverWrapper {
	position: relative;
	bottom: 115%;	
	margin-left: 0px;
}

.playerButtons {
	position: relative;
	top: -25px;
}

#footer {
	z-index: -50;
}

#currentPlaylist {
	height: 100%;
	width: 100000px;
}

#currentPlaylistWrapper {
	overflow: hidden;
	height: 100%;
	background: rgba(0, 0, 0, 0.27);
	border-radius: 25px;
}

.coverThumbnail {
	height: 85% !important;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.currentSongThumbnail {
	box-shadow: 0px 0px 3px 3px #08C;
}

#playlists {
	height: 90%;
	overflow-x: hidden;
	overflow-y: scroll; 
}
}

